body {
  margin: 0;
  font-family: "Prompt", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  height: 90vh;
  background-color: white;
  border-radius: 20px;
  margin-top: 40px;
}

.title { 
  font-size: 37px;
  color: #383838;
  text-align: center;
  font-weight: bold;
  padding: 64px 0 0 0;
}

.title-name { 
  font-size: 37px;
  color: #383838;
  text-align: center;
  font-weight: bold;
  padding: 92px 0 0 0;
}

.slide-up {
  background: none;
  position: relative;
  animation: mymove 1s;
  animation-fill-mode: forwards;

  @keyframes mymove {
    from {top: 20px;}
    to {top: 0px;}

    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

.btn-small { 
  background-image: radial-gradient(ellipse farthest-corner at top left, #c41417 0%, #b31315 100%);
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 42px;
  font-size: 24px;
  font-weight: bold;
  transition: all 1s ease;
  transform: scale(1);
  cursor: pointer
}
.btn-small:hover {
  transform: scale(1.1) perspective(1px)
}

.btn-big { 
  background-image: radial-gradient(ellipse farthest-corner at top left, #c41417 0%, #b31315 100%);
  color: #ffffff;
  border-radius: 10px;
  padding: 20px 72px;
  margin: 128px 0 16px 0;
  font-size: 34px;
  font-weight: 500;
  transition: all 1s ease;
  transform: scale(1);
  cursor: pointer
}
.btn-big:hover {
  transform: scale(1.1) perspective(1px)
}